.idea/
/config/data/
/venv/
/server/SDK/SdkLog_Python/
/server/SDK/lib/
/train/train/Dataset/
/train/train/data/
/.venv/
/app/UI/NG_COOL_BED_UI/build/
soft/aTrust_*.exe
/config/calibrate/mapping/*/camera/
/app/UI/NG_COOL_BED_UI/.qtcreator/
/UI/
/config/first_save/mapping/
