SQLAlchemy
uvicorn
fastapi
requests
opencv-python
numpy
pillow
scikit-learn
matplotlib
tqdm
scipy
huggingface-hub
setuptools
seaborn
ipython
traitlets
SQLAlchemy-Utils
ultralytics
colorlog
XlsxWriter
psutil
GPUtil
pymssql
PyMySQL
harvesters
timm
scikit-image
open3d
argparse
six
wsproto
cryptography
fastapi-cache[redis]
redis
python-multipart
typing_extensions
sympy
mpmath
packaging
colorama
filelock
urllib3
fsspec
pydantic
PyYAML
safetensors
pandas
shapely
pyinstaller
HslCommunication
python-snap7
av
