SQLAlchemy
uvicorn
fastapi
requests
opencv-python
numpy
pillow
scikit-learn
matplotlib
tqdm
scipy
setuptools
seaborn
ipython
traitlets
SQLAlchemy-Utils
ultralytics
colorlog
XlsxWriter
psutil
timm
scikit-image
argparse
six
wsproto
cryptography
redis
python-multipart
typing_extensions
sympy
mpmath
packaging
colorama
filelock
urllib3
fsspec
pydantic
PyYAML
safetensors
pandas
shapely
pyinstaller
HslCommunication
python-snap7
av
lxml